<header>
    <div class="container header-container">
        <div class="logo">
            <a href="/">
                <img src="/assets/imagens/logo-placeholder.png" alt="Ricardo Wiltgen - Podologia" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="link-inicio">Início</a></li>
                <li><a href="/pages/sobre.html" class="link-sobre">Sobre Ricardo</a></li>
                <li><a href="/pages/podologia.html" class="link-podologia">Podologia Avançada</a></li>
                <li><a href="/pages/servicos.html" class="link-servicos">Serviços</a></li>
                <li><a href="/pages/blog.html" class="link-blog">Blog</a></li>
                <li><a href="/pages/contato.html" class="link-contato">Contato</a></li>
            </ul>
        </nav>
        <div class="header-cta">
            <a href="https://api.whatsapp.com/send?phone=5554999676597&text=" target="_blank" class="btn-primario">
                Agendar avaliação
            </a>
        </div>
        <div class="menu-toggle" id="menuToggle">
            <span></span><span></span><span></span>
        </div>
    </div>
</header>